<template>
    <div class="row legend-item-row">
        <div repeat.for="item of legend" class="legend-item" css="background-color: ${item.color}; color: ${item.textColor}">${item.value}</div>
    </div>
    <div id="chartContainer" style="display:none;">
        <canvas id="damageChart"
                data-toggle="tooltip"
                data-placement="bottom"
                title.bind="title"
                class="damage-chart"></canvas>
        <div class="chart-label">${xLabel}</div>
    </div>
</template>