<template>
    <div class="row legend-item-row">
        <div class="col-xs-8 legend-item-col">
            <div repeat.for="item of legend" class="legend-item" css="background-color: ${item.color}; color: ${item.textColor}">${item.value}</div>
        </div>
        <div class="col-xs-4 legend-item-button-col">
            <button show.bind="combineIcons.length == 2"
                    data-toggle="tooltip"
                    title="Combine Graphs" 
                    class="btn btn-default combine-datasets-button" 
                    click.delegate="combineChartData()">
                <div class="legend-item" css="background-color: ${combineIcons[0].color}; color: ${combineIcons[0].textColor}">${combineIcons[0].value}</div>
                +
                <div class="legend-item" css="background-color: ${combineIcons[1].color}; color: ${combineIcons[1].textColor}">${combineIcons[1].value}</div>
            </button>
        </div>
    </div>
    <div id="chartContainer" style="display:none;">
        <canvas id="damageChart"
                data-toggle="tooltip"
                data-placement="bottom"
                title.bind="title"
                class="damage-chart"></canvas>
        <div class="chart-label">${xLabel}</div>
    </div>
</template>