<template>
    <ux-dialog class="save-load-dialog">
        <ux-dialog-body>
            <input type="text" class="form-control" placeholder="Name">
            <div class="checkbox">
                <label class="config-dialog-text">
                    <input type="checkbox" checked.bind="includeAttack" />
                    Include attack
                </label>
            </div>
            <div class="checkbox">
                <label class="config-dialog-text">
                    <input type="checkbox" checked.bind="includeDefense" />
                    Include defense
                </label>
            </div>
        </ux-dialog-body>
        <ux-dialog-footer>
            <button class="btn btn-default config-dialog-text" type="button" click.trigger="controller.cancel()">Cancel</button>
            <button class="btn btn-primary config-dialog-text" type="button" click.trigger="controller.ok(config)">Save</button>
        </ux-dialog-footer>
    </ux-dialog>
</template>