body {
  margin: 0;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 30px;
    line-height: 30px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-header .navbar-brand {
    font-size: 20px;
    color: black;
}

.navbar-header .img-icon-header {
    margin: -6px 3px 0px 0px;
    width: 32px;
    height: 32px;
}

.splash .img-icon-spinner {
    text-align: center;
    display: inline-block;
    width: 128px;
    margin-top: 50px;
}

section {
    margin: 0 20px;
}

.header {
    display: table;
    margin: auto;
}

.main-container {
    display:table;
    width: 308px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}

.attack-type-row {
    margin-top: 15px;
}

.dice-button-row {
    display: block;
    margin: 0px;
}

.dice-button-span {
    float:right;
    margin-top: 20px;
}

.dice-button {
    width: 50px;
    height: 50px;
    margin: 0px 3px;
}

.dice-button-row .dice-button {
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
}

.dice-button-dark, 
.dice-button-dark:hover,
.dice-button-dark:focus {
    color: #ffffff;
}

.dice-button-light,
.dice-button-light:hover, 
.dice-button-light:focus { 
    color: #000000;
}

.dice-button-red {
    background-color: #F22821;
    border-color: #BF1D17;
}

.dice-button-blue {
    background-color: #286090;
    border-color: #204d74;
}

.dice-button-green {
    background-color: #449d44;
    border-color: #398439;
}

.dice-button-yellow {
    background-color: #FAD952;
    border-color: #E6BF14
}

.dice-button-white {
    background-color: #ffffff;
    border-color: #000000
}

.dice-button-black {
    background-color: #000000;
    border-color: #000000
}

.button-cancel {
    margin: 0px 0px 0px 10px
}

.attack-type-button-col {
    text-align: center;
}

.attack-type-button,
.attack-type-button:focus {
    width: 64px;
    height: 64px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.attack-type-selected,
.attack-type-selected:focus,
.attack-type-selected:hover,
.attack-type-selected:active {
    border: 5px solid blue;
}

.attack-type-selected:focus.attack-type-selected:hover {
    background-color: #e6e6e6;
}


.attack-type-button-range,
.attack-type-button-range:focus {
    font-size: 30px;
    font-weight: bold;
    width: 96px;
}

.img-icon {
    height: 40px;
}

.img-icon-surge {
    width:30px;
    margin-top: -3px;
}
.img-icon-damage {
    height: 20px;
    margin-top: -3px;
}

.defense-button {
    font-size: 20px;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    height: 50px;
    width: 60px;
    padding: 1px;
}

.img-icon-defense  {
    height: 15px;
    margin-top: -2px;
}

.surge-button {
    font-size: 20px;
    font-weight: bold;
}

.surge-ability-span {
    margin-top: 10px;
    display: inline-block;
    font-size: 24px;
    float: right;
}

.add-surge-button-row {
    margin: 10px 0px 0px 0px;
    text-align: left;
}

.calculate-button-row {
    text-align:center;
    display: block;
    margin: 0px;
}

.calculate-button {
    font-size: 36px;
    font-weight: bold;
    margin-right: 5px;
}

.legend-item-row {
    display: block;
    margin: 10px 0px 5px 0px;
}

.legend-item {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
}

.damage-chart {
    width: 100%;
    height: 200px;
}

.chart-label {
    margin: -5px 0px 5px 0px;
    text-align: center;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
